.grid{
    display: flex;
    width: 300px;
    height: 300px;
    flex-wrap: wrap;
    border: solid 1px black;
}

.grid div{
    width: 20px;
    height: 20px;
}

.shooter{
    background-color: blue;
}
.invader{
    background-color: purple;
    border-radius: 10px;
}
.boom{
    background-color: red;
}
.laser{
    background-color: orange;
}